html {
  font-size: 62.5%;
}
body {
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  font-family: "Raleway", sans-serif;
}
a {
  text-decoration: none;
  display: inline;
  color: black;
}

header {
  width: 100%;
  height: 140px;
  display: grid;
  grid-template-rows: 1fr 1fr;
}
header .header-icons-container {
  background-color: #001c2d;
  width: 100%;
  height: 50px;
  display: grid;
}
header .header-icons-container .icons {
  width: 200px;
  height: auto;
  display: flex;
  justify-items: flex-end;
  align-items: center;
  justify-content: space-between;
  justify-self: end;
  margin-right: 50px;
}
header .icons span {
  color: #a44c26;
}
nav {
  background-color: #aa4f23;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 90px;
}
nav .nav-logo-container {
  margin-left: 50px;
}
nav .nav-logo-container img {
  width: 70px;
  margin-top: 10px;
}
nav .profile-link {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 50px;
}
nav .profile-link a {
  color: rgb(238, 235, 235);
  border-bottom: 1px solid rgb(238, 235, 235);
  font-size: 1.5rem;
}
main {
  background-image: url("../assets/img/background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
}

main .main-section{
  display: grid;
  grid-column: 2;
  justify-items: center;
  height: 350px;
  margin-top: 50px;
}

.main-title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.main-title h1 {
  color: rgb(248, 241, 241);
  font-weight: 600;
  font-size: 5rem;
  letter-spacing: 3px;
}
.main-title h2 {
  color: rgb(238, 235, 235);
  font-weight: 600;
  font-size: 5rem;
  letter-spacing: 3px;
}
.main-title span {
  color: #aa4e23;
  font-weight: 600;
}
.main-button-container button {
  display: grid;
  box-sizing: border-box;
  margin: 0 auto;
  text-align: center;
  align-items: center;
  
  transition: all 0.3s ease-out;
  background-color: transparent;
  border-radius: 0.8rem;
  padding: 10px;
  border: 1px solid #fff;
  background: rgba(0, 28, 45, 0.5);
}
.main-button-container button:hover,
.main-button-container button:focus,
.main-button-container button:active {
    background-color: rgba(179, 79, 35, 0.5);
    transition: all 0.5s ease-in;
}
.main-button-container a {
  color: white;
  font-weight: 400;
  font-size: 3rem;
  cursor: pointer;
  letter-spacing: 4px;
}
.main-button-container img{
  display: inline-block;
  width: 32px;
  

}
